.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid black;

}


@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}