.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile button {
  margin-left: 1rem;
  min-width: 7rem;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
}
